.icon {
    margin-top: 20px;
    margin-right: 20px;
    width:3%;
    height:30px;
    position: relative;
}

.txt{
    background-color:red;
    font-size:xx-small;
    position: absolute;
    padding:2px;
    top: 5px;
    left: 5px;
    border-radius: 25px;
}

.comment {
    display: none;
    position: absolute;
    top: 80px;
    right: 10px;
    border-color: rgba(179, 225, 238, 0.6);
    border-radius: 6px;
    outline: none;
    background: rgba(179, 225, 238, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.commentEach {
    margin: 5px 5px 5px 5px;
}