.headerMain {
    display: flex;
    background: rgba(0, 49, 78, 0.98);
}

.divImage {
    width: 8%;
    height: 35px;
    float: left;
    margin: 20px 0 17px 10px;
    background: url(./images/logotype-fa13.png) 0 0 no-repeat;
    background-size: 98px 35px;
    text-indent: -9999px;
    transition: margin-left 0.3s;
}

.season {
    background: url(./images/season.png) no-repeat bottom;
    float: left;
    margin-top: 20px;
    height: 25px;
    background-size: contain;
    margin-left: 5px;
    width: 8%;
}

.community {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    width: 65%;
}

.login {
    margin-left: 2.5em;
    width: 5.5em;
    display: inline-block;
    font-size: 80%;
    color: rgba(255,255,255,.9);
    text-shadow: #2e7ebd 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: .7em 0;
    border: 1px solid;
    border-color: #9e6bd1 #613092 #613092 #9e6bd1;
    border-radius: 6px;
    outline: none;
    background: #613092 linear-gradient(#9e6bd1, #613092);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.register {
    color: rgb(245,245,245);
    display: inline-block;
    cursor: pointer;
    font-size: 80%;
    color: rgba(255,255,255,.9);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: 10px 20px;
    border: 1px solid;
    border-color: #82d18d #0c9c0d #0c9c0d #82d18d;
    border-radius: 6px;
    outline: none;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nameUser {
    color: #ffcb31;
}

.loginDiv {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    width: 10%;
    text-align: center;
}

.registerDiv {
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
}