.headerMain {
    display: flex;
    background: rgba(0, 49, 78, 0.98);
}

.divImage {
    width: 8%;
    height: 35px;
    float: left;
    margin: 20px 0 17px 10px;
    background: url(./images/logotype-fa13.png) 0 0 no-repeat;
    background-size: 98px 35px;
    text-indent: -9999px;
    transition: margin-left 0.3s;
}

.season {
    background: url(./images/season.png) no-repeat bottom;
    float: left;
    margin-top: 20px;
    height: 25px;
    background-size: contain;
    margin-left: 5px;
    width: 8%;
}

.community {
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    width: 65%;
}

.login {
    background-color: #6A5ACD;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.register {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.nameUser {
    color: #ffcb31;
}

.loginDiv {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    width: 6%;
}

.registerDiv {
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
}